/* *{
  margin : 0;
  font-size: 40px;
}

.page{
  position : relative;
  height : 200vh;
  background-color: #e7eaf6;
}

.page-color-divider{
  background-color: #a2a8d3;
  position: relative;
  width : auto;
  height : 200px;

}


.main-grid{
  display: grid;
  gap : 1.5rem;
  grid-template-columns: repeat(3, 1fr);

  padding-block: 2rem;
  width : min(95%, 90rem);
  margin-inline: auto;

  Create grid fixate todo, inprogress etc within grid  
} 
/* 
.to-do{
  position: absolute;
  background-color: green;

}

.in-progress{
  background-color: yellow;
}

.done{
  background-color: brown;

} */
